@import 'tailwindcss';

@theme {
	--color-primary: #0542d1;
	--color-primary-50: #eff6ff;
	--color-primary-100: #dbeafe;
	--color-primary-200: #bfdbfe;
	--color-primary-300: #93c5fd;
	--color-primary-400: #60a5fa;
	--color-primary-500: #3b82f6;
	--color-primary-600: #0542d1;
	--color-primary-700: #1e40af;
	--color-primary-800: #1e3a8a;
	--color-primary-900: #1e3a8a;
	--color-primary-950: #172554;
}

body {
	@apply bg-neutral-50 text-neutral-800;
}
